How Git is different from Subversion
Why Trunk-based development has become popular than GitFlow branching strategy
How Facebook Engineering Team use Git patterns
What are Conventional Commits and how can it save time
